@use 'variables' as *;
@use 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bg-page;
  color: $color-text-primary;
  font-family: $font-body;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3 {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

.heading-2 {
  font-size: $fs-heading-2;
  font-weight: $fw-semibold;
  line-height: $lh-heading-2;
}
.heading-2-accent {
  color: $color-text-accent;
  font-style: italic;
}
.link-button {
  font-size: $fs-medium;
  font-weight: $fw-semibold;
  line-height: $lh-medium;
  color: $color-text-primary;
}
.caption {
  font-size: $fs-caption;
  font-weight: $fw-semibold;
  line-height: $lh-caption;
  color: $color-text-primary;
}

header, section, footer {
  max-width: 1360px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header__nav{
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header__link {
  font-size: $fs-medium;
  font-weight: $fw-regular;
  line-height: $lh-medium;
  color: $color-text-primary;
}
.header__link:hover {
  text-decoration: underline $color-text-primary;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__menu-link {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.hero {
  background-image: url("/assets/img/Background.png");
  background-size: cover;
  border-radius: 40px;
  margin: 0 40px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px;
  width: 730px;
}
.hero__title {
  font-size: $fs-heading-1;
  font-weight: $fw-semibold;
  line-height: $lh-heading-1;
  color: $color-text-inverse;
}
.hero__title-accent {
  color: $color-text-accent;
  font-style: italic;
}
.hero__description {
  font-size: $fs-medium;
  font-weight: $fw-regular;
  line-height: $lh-medium;
  color: $color-text-inverse;
  margin: 40px 0;
}
.hero__button {
  background-color: $color-bg-page;
  padding: 20px 78px;
  border-radius: 100px;
  font-size: $fs-medium;
  font-weight: $fw-semibold;
  line-height: $lh-medium;
  color: $color-text-primary;
}

.about {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__gallery {
  display: flex;
  justify-content: space-between;
}
.about__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 660px;
  width: 100%;
}
.about__image {
  border-radius: 20px;
  width: 100%;
  object-fit: none;
}
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.download__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  border: solid 1px $color-text-primary;
  border-radius: 100px;
  width: 200px;
}
.download__link-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download__description {
  font-size: $fs-medium;
  font-weight: $fw-regular;
  line-height: $lh-medium;
  color: $color-text-primary;
}
.download__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
  width: 100%;
}
.footer {
  background-color: #665F55;
  color: #E1D4C9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px;
  padding: 100px;
  gap: 100px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  width: 100%;
}
.footer__slogan {
  margin: 40px 0;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 204px;
  width: 100%;
}

.footer__social-link {
  border: solid 1px $color-border-primary;
  border-radius: 100px;
  padding: 18px;
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
}
.footer__contacts-title {
  margin-bottom: 40px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.footer__contacts-link {
  color: $color-text-inverse;
}